@import '../../layout/variables.scss';

.header {
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 170px;
    background-image: linear-gradient( 135deg, #FFA8A8 10%, #FCFF00 100%);
    z-index: -1;
  }

  nav {
    position: fixed;
    background: $white;
    border-bottom: 1px solid $blue;
    display: flex;
    line-height: 62px;
    padding: 0 (100 - $width-desktop) / 2;
    width: 100%;
    margin: 0 auto;
    z-index: 3;

    .brand {
      display: block;
      float: left;
      vertical-align: middle;

      a {
        font-size: 1.5em;
        font-weight: bolder;
        letter-spacing: -0.5px;
        &,
        &:visited {
          color: $blue;
          text-decoration: none;
        }
      }

      .loader,
      .loaderSuccess,
      .loaderFailure {
        display: block;
        float: right;
        
        .indicator {
          position: relative;
          vertical-align: middle;
          display: inline-block;
          height: 36px;
          width: 36px;
          border-radius: 18px;
          margin-left: 12px;

          &:before {
            content: "";
            position: absolute;
            left: 6px;
            top: 6px;
            height: 24px;
            width: 24px;
            background: $white;
            border-radius: 4px;
            animation-name: spin;
            animation-duration: 2000ms;
            animation-iteration-count: infinite;
            animation-timing-function: ease-in-out; 
          }
        }
        
        .description {
          font-size: 14px;
          margin-left: 6px;
        }
      }

      .loader .indicator {
        background: $yellow;
      }

      .loaderSuccess .indicator {
        background: $green;
      }

      .loaderFailure .indicator {
        background: darken($pink, 20%);
      }
    }

    ul {
      flex: auto;
      text-align: right;
      margin: 0;

      li {
        display: inline-block;

        & + li {
          margin-left: 24px;
        }

        a {
          &,
          &:visited {
            display: block;
            height: 100%;
            width: 100%;
            color: $blue;
            font-size: 15px;
            text-transform: uppercase;
            text-decoration: none;
          } 

          &:hover {
            color: darken($blue, 20%);
          }
        }
      }
    }
  }
}

@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}