@import '../../layout/variables.scss';

.header {
  display: block;
  width: 100%;
  background: $grey;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);

  nav {
    display: flex;
    line-height: 62px;
    width: $width-desktop;
    margin: 0 auto;

    .brand {
      vertical-align: middle;

      a {
        &,
        &:visited {
          color: $primary;
          text-decoration: none;
        }
      }
    }

    ul {
      flex: auto;
      text-align: right;
      margin: 0;

      li {
        display: inline-block;

        & + li {
          margin-left: 24px;
        }

        a {
          &,
          &:visited {
            color: $secondary;
            border-bottom: 1px solid transparent;
            text-decoration: none;
            padding: 0 4px 4px;
          } 

          &:hover {
            color: darken($secondary, 20%);
            border-bottom-color: darken($secondary, 20%);
          }
        }
      }
    }
  }
}