@import './layout/variables.scss';

.App {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
}
.wrapper {
  min-height: 80vh;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.main {
  margin: 84px 0 0;
}