@import './variables.scss';

.button {
  margin: 36px 0 0;
  padding: 8px 12px;
  background: $secondary;
  color: $grey;
  text-decoration: none;
  border: 0;
  box-shadow: -8px 8px 0px 0px $black;
  transition: all ease 60ms;
  font-size: 1.15em;

  &:hover,
  &:focus {
    background: darken($secondary, 20%);
  }

  &:active {
    transform: translate(-6px, 6px);
    box-shadow: 0px 0px 0px 0px $black;
  }

  &:focus,
  &:active {
	  outline: none;
  }
}