@import './variables.scss';

.button {
  margin: 36px 0 0;
  padding: 8px 12px;
  border: 0;
  font-size: 1em;
  background: darken($pink, 20%);
  color: $grey;
  text-decoration: none;
  box-shadow: -8px 8px 0px 0px $blue;
  transition: all ease 60ms;

  &:hover,
  &:focus {
    background: darken($pink, 10%);
    cursor: pointer;
  }

  &:active {
    transform: translate(-3px, 3px);
    box-shadow: -4px 4px 0 0 $blue;
  }

  &:focus,
  &:active {
	  outline: none;
  }
}