$pink: #FFA8A8;
$yellow: #FCFF00;
$green: #34A75E;
$cyan: #1E6865;
$blue: #0C1A2A;
$white: #FFFFFF;
$grey: #F7F7F7;



// $white: #FFFFFF;
$primary: #000000;
$secondary: blue;
$tertiary: orange;
$black: #000000;

$width-desktop: 80vw;