@import "../../layout/variables.scss";

.createUser {
  width: 680px;
  background: $white;
  border: 1px solid $blue;
  margin: 16px 0 0;
  padding: 34px 34px 40px;
  text-align: left;

  h1 {
    margin-top: 0;
  }
}