@import '../../layout/variables.scss';

.usersList {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 16px 0 0;
  padding: 0;
  width: $width-desktop;

  li {
    flex-shrink: 0;
    height: 250px;
    width: calc(50% - 8px);
    margin-bottom: 16px;
    text-align: left;

    &:nth-of-type(2n) {
      margin-left: 16px;
    }

    a {
      box-sizing: border-box;
      color: $black;
      background: $grey;
      display: block;
      height: 100%;
      padding: 24px;
      
      &,
      &:visited {
        text-decoration: none;
      }

      h1 {
        margin: 0;
        line-height: 1.25em;
      }

      p {
        margin-bottom: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        box-orient: vertical;
        line-height: 1.25em;
      }
    }
  }
}